:root {
  --primary: rgb(30, 30, 30);
  --secondary: rgb(90, 90, 90);
  --tertiary: rgb(200, 200, 200);
  --background: rgb(250, 250, 250);
  --svelte: #ff3e00;
  --svestegreen: #0dff3e;
  --svestedarkgreen: #12b332;
  --svesteblue: #0db4ff;
  --svestedarkblue: #1281b3;
  --svesteteal: #00ffc4;
  --svestedarkteal: #00b389;
  --svestewashout: #ace3d7;

  font-family: "Roboto", sans-serif;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: var(--svestewashout);
  color: var(--primary);
}
