:root {
  /* colors */
  --primary: rgba(0, 179, 137, 100%);
  --background: rgba(0, 179, 137, 5%);
  --text: rgb(30, 30, 30);
  --text-mid: rgb(120, 120, 120);
  --text-light: rgb(220, 220, 220);
  --shadow: rgb(240, 240, 240);
  --highlight: rgb(220, 51, 0);
}
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: var(--background);
  color: var(--text);
}

#app {
  /* display: flex; */
  height: 100%;
}
